<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login to chatApp</title>
</head>
<body>
    <form action="/login_action" method="post">
        <input type="text" name="username" placeholder="username">
        <input type="password" name="password" placeholder="password">
        <input type="hidden" name="redirectTo" value="{{data.redirectTo}}">
        <button type="submit">Log in</button>
    </form>
</body>
</html>